@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

@theme {
    --color-background: #f8f9fb;
    --color-custom-gray: #9192a3;

    --color-primary: #38C4D9;
    --color-secondary: #fe6b1e;
    --color-danger: #ff604f;
    --color-success: #5bbf70;
}
