*,
html,
body {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  color: #2e2f38;
}